<section class="bg-light p-3 p-md-4 p-xl-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
                <div class="card border border-light-subtle rounded-4">
                    <div class="card-body p-3 p-md-4 p-xl-5 shadow">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-5">
                                    <div class="text-center mb-4">
                                        <div class="container bg-dark rounded-4">
                                            <img src="logo\complete-logo.png" alt="TicketPulse-Logo" width="200"
                                                height="100">
                                        </div>
                                    </div>
                                    <h4 class="text-center">Join us today and get access to the hottest shows in town!
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <form #form="ngForm">
                            <div class="row gy-3 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="name" class="form-control" name="name" id="name"
                                            placeholder="name@example.com" required [(ngModel)]="signupObj.name"
                                            #nameField="ngModel">
                                        <div *ngIf="nameField.invalid && nameField.touched" class="text-danger">
                                            <small *ngIf="nameField.errors?.['required']">Name is required</small>
                                        </div>
                                        <label for="name" class="form-label">Full Name</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="name@example.com" required [(ngModel)]="signupObj.email"
                                            #emailField="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                        <div *ngIf="emailField.invalid && emailField.touched" class="text-danger">
                                            <small *ngIf="emailField.errors?.['required']">Email is required</small>
                                            <small *ngIf="emailField.errors?.['pattern']">Invalid Email</small>
                                        </div>
                                        <label for="email" class="form-label">Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" name="password" id="password"
                                            value="" placeholder="Password" required [(ngModel)]="signupObj.password"
                                            #passwordFeild="ngModel">
                                        <div *ngIf="passwordFeild.touched" class="text-danger">
                                            <small *ngIf="passwordFeild.errors?.['required']">Password is
                                                required</small>
                                        </div>
                                        <label for="password" class="form-label">Password</label>
                                    </div>
                                </div>
                                <div class="col-12">

                                    <div class="d-flex justify-content-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" [disabled]="!form.valid"
                                                (click)="onVendorSignup()">Singup as
                                                Vendor</button>
                                            <button type="button" class="btn btn-primary" [disabled]="!form.valid"
                                                (click)="onCustomerSignup()">Signup as Customer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-12">
                                <hr class="mt-5 mb-4 border-secondary-subtle">
                                <div class="text-center">
                                    <a href="login" class="link-secondary text-decoration-none "
                                        (click)="onLogin()">Already have an account?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="contiainer pt-1">
    <router-outlet></router-outlet>
</div>